
@use '../base/variables' as *;

.burger-active{
    position: absolute;
    top: 40px;
    right: 10px;
    
    span{
        transform: scale(0);
        transition: 0.5s;
    }

    &::after{
        transform: translateY(-12px) rotate(-45deg);
        transition: 0.5s;
    }

    &::before{
        transform: translateY(12px) rotate(45deg);
        transition: 0.5s;
    }
}

.display-none{
    display: none;
}

.menu-active{
    width: 100%;
    height: 100%;
    background-color: $color-white;
    position: fixed;
}

.no-scroll{
    overflow: hidden;
}

.navigation-active{
    display: grid;
    place-content: center;
}

.navigation-list-active{
    grid-template-columns: 1fr;
}
