
@font-face {
    font-family: 'Varela Round';
    src: url('../../fonts/VarelaRound-Regular.woff2') format('woff2'),
        url('../../fonts/VarelaRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
