
@import '../fonts/fonts';
@import '../variables-color/variables-color';

body{
    font-family: $Varela-Round;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}


a {
    display: inline-block;           /* щоб transform працював коректно */
    cursor: pointer;
    transition: transform 0.2s ease; /* плавний перехід назад */
}

a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

button{
    transition: background 0.6s ease, transform 2.5s ease;
}

/* наведення */
button:hover {
  background: $color-bg;
  color:$color-green-light;
  border: 2px solid $color-green-light;
  
}

/* натискання */
button:active {
  transform: scale(0.96);
}

/* фокус клавіатури */
.button:focus {
  outline: 2px solid $color-bg;
  outline-offset: 2px;
}